body{
  background-color:#86C6F4;
  font-family: "Raleway", sans-serif
  font-size: 15px;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 9px;
  height: 0;
  width: 7%;
}

h1{
  font-family: "Lato", sans-serif;
  color: #03045E;
}

h3{
  font-family: "Lato", sans-serif;
  color: #03045E;
}

a{
  font-family: "Lato", sans-serif;
  color:#03045E;
}

/************************************** CLASS SELECTORS *************************/

.coder-image{
  border-radius: 80%;
}
